h2.entry-title, h2.entry-title a {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
  color: #05212e;
  line-height: 60px;
  font-weight: 300;
}

p.entry-info {
  color: #bdbdbd;
  margin-bottom: 16px;
}

p.entry-info a{
  color: #655f5c;
}


.hentry {
  padding-bottom: 32px;
  border-bottom: 1px dotted #cccccc;
  margin-bottom: 90px;
}

.entry-footer {
  display: none;
}


form.navbar-search {
  margin-top: 14px;
}

.continue-reading{
  text-align: right;
}
